/* Contenedor principal (fondo oscuro como VS Code) */
pre.codigo-js {
    background-color: #1e1e1e;
    color: #d4d4d4;
    font-family: 'Consolas', 'Courier New', monospace;
    padding: 0.5vh 1vw;
    border-radius: 5px;
    overflow: auto;
    tab-size: 4;
}

/* Estilos para el resaltado de sintaxis */
code .palabra-clave{    /* let, const, function, etc. */
    color: #569cd6;
}

/* Strings */
code .cadena {
    color: #ce9178;
}    

code .numero{    /* Números */
color: #b5cea8;
}

code .comentario{    /* Comentarios */
color: #6a9955;
}

code .funcion{    /* Nombres de funciones */
color: #dcdcaa;
}

code .operador{    /* =, +, -, etc. */
color: #d4d4d4;
}

code .builtin{    /* console, Math, etc. */
color: #9cdcfe;
}

code .parametro{    /* Parámetros de función */
color: #9cdcfe;
}
